.wrapper {
  display: flex;
  height: 32px;
  margin-top: -1rem;
}

.todoForm {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0 1rem;
  width: 100%;
}

.todoForm input[type='text'] {
  background: var(--gray-500);
  color: var(--gray-300);
  height: 3.375rem;
  border-radius: 8px;
  padding: 1rem;
  border: none;
  width: 40rem;
  max-width: 80vw;
}

.wrapper input[type='text']:focus {
  outline: none;
  color: var(--gray-100);
}

.wrapper form > button {
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  height: 3.375rem;
  min-width: 90px;
  border-radius: 8px;
  gap: 0.5rem;
  border: none;
  background: var(--blue-500);
  color: var(--gray-100);
  cursor: pointer;
}

form > button:not(:disabled):hover {
  background: var(--blue-200);
}

form button[type='submit']:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
